@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mb-[48px] text-[28px] font-bold lg:text-[36px];
  }
  h2 {
    @apply text-[24px] font-bold;
  }
  h3 {
    @apply mb-[5px] mt-[10px] text-[18px] font-bold;
  }
  p {
    @apply font-light;
  }
  span {
    @apply text-nowrap font-light;
  }
}

@layer components {
  .keyword {
    @apply animate-point absolute flex cursor-pointer items-center gap-[8px] rounded-full border-2 border-dashed border-gray-500 bg-gray-200 bg-opacity-10 px-[2vw] py-[1vw] text-[clamp(0.7rem,2.5vw,1.1rem)] transition-all duration-300;
  }
}

@layer utilities {
  @keyframes point {
    50% {
      opacity: 0.2;
    }
  }

  .animate-point {
    animation: point 1s 3 alternate;
  }
}

html,
body {
  background-color: #151515;
  color: #dfdfdf;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #81ff6f;
  font-weight: 300;
}

ul,
li {
  list-style: none;
}
